<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists Page</title>
    <link rel="stylesheet" href="../static/Styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Artists Information</h1>
        </header>
        <div class="artists-list">
            {{range .}}
            <div class="artist-card">
                <h2>{{.Name}}</h2>
                    <a href="/more-info?id={{.Id}}">
                        <img src="{{.Image}}" alt="Artist Image">
                </a>
            </div>
            {{end}}
        </div>
    </div>
</body>
</html>
